<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= hidden_input f, :invitation_code, class: "form-control" %>
    <%= error_tag f, :invitation_code %>
  </div>

  <div class="form-group d-flex align-items-center justify-content-center">
    <%= submit "Enroll", class: "btn btn-primary" %>
  </div>
<% end %>
