<h2>New Enrollment to Course "<%= @course.name %>"</h2>

<%= render "_form.html", Map.put(assigns, :action, course_enrollment_path(@conn, :create, @course)) %>

<span><%= link "Back", to: course_path(@conn, :show, @course) %></span>
