<%= if @group do %>
  <h1>You are trying to enroll to:</h2>
  <h3>Course: <%= @group.course.name %></h3>
  <%= if @group.course.description do %>
    <p><%= @group.course.description %></p>
  <% end %>
  <h3>Group: <%= @group.name %></h3>
  <h3>Course Head: <%= NovelWeb.UserView.full_name(@group.course.user) %></h3>

  <%= render "_form.html", Map.put(assigns, :action, enrollment_path(@conn, :create)) %>
<% else %>
  <h1>Sorry no course found!</h1>
<% end %>
