<h2>
  <%= @quiz.name %>
</h2>

<ul>
  <li>
    <strong><%= gettext "Description" %>:</strong>
    <%= markdown @quiz.description %>
  </li>

  <li>
    <strong><%= gettext "Questions" %>:</strong>
    <%= @quiz.sample_size %>
  </li>

  <li>
    <strong><%= gettext "Duration" %>:</strong>
    <%= format_duration @quiz.duration %>
  </li>
</ul>

<hr />
<span><%= link gettext("Back"), to: student_course_quiz_path(@conn, :index, @course) %></span>
