<li class="list-group-item %>">
  <div class="d-flex align-items-center justify-content-between">
    <%= link to: teacher_course_submission_path(@conn, :show, @course, @submission) do %>
      <%= @submission.lab.title %>
    <% end %>

    <span><%= full_name @submission.enrollment.user %></span>

    <span><%= @submission.enrollment.group && @submission.enrollment.group.name %></span>

    <%= status_icon @submission.is_approved %>

    <%= render "_actions.html", assigns %>
  </div>
</li>
