<tr>
  <td>
    <%= link to: teacher_course_submission_path(@conn, :show, @course, @submission) do %>
      <%= @submission.lab.title %>
    <% end %>
  </td>
  <td>
    <span><%= full_name @submission.enrollment.user %></span>
  </td>
  <td>
    <span><%= @submission.enrollment.group && @submission.enrollment.group.name %></span>
  </td>
  <td>
    <%= approved_icon @submission.is_approved %>
  </td>
  <td>
    <%= render "_actions.html", assigns %>
  </td>
</tr>
