<tr>
  <td>
    <%= link to: teacher_course_quiz_path(@conn, :show, @course, @quiz) do %>
      <span><%= @quiz.name %></span>
    <% end %>
  </td>
  <td>
    <%= render "_actions.html", assigns %>
  </td>
</tr>
