<%= render "_form.html", Map.put(assigns, :action, teacher_course_quiz_path(@conn, :update, @course, @quiz)) %>

<hr />
<span><%= link gettext("Back"), to: teacher_course_quiz_path(@conn, :index, @course) %></span>
