<tr>
  <td>
    <%= link to: teacher_course_lab_path(@conn, :show, @course, @lab) do %>
      <span><%= @lab.title %></span>
    <% end %>
  </td>
  <td>
    <%= render "_actions.html", assigns %>
  </td>
</tr>
