<ul class="list-group mb-3">
  <%= render_many(@labs, NovelWeb.Teacher.LabView, "_lab.html", assigns) %>

  <%= render "_new_lab_button.html", assigns %>
</ul>

<span><%= link gettext("Back"), to: course_path(@conn, :show, @course) %></span>
