<%= render "_form.html", Map.put(assigns, :action, teacher_course_lab_path(@conn, :create, @course)) %>

<hr />
<span><%= link gettext("Back"), to: teacher_course_lab_path(@conn, :index, @course) %></span>
