<li class="list-group-item">
  <div class="d-flex align-items-center justify-content-between">
    <span><%= @attempt.quiz.name %></span>

    <span><%= full_name @attempt.enrollment.user %></span>

    <%= format_attempt_status @attempt %>
  </div>
</li>
