<tr>
  <td>
    <span><%= @attempt.quiz.name %></span>
  </td>
  <td>
    <span><%= full_name @attempt.enrollment.user %></span>
  </td>
  <td>
    <%= format_attempt_status @attempt %>
  </td>
</tr>
