$fa-font-path: "../fonts";
@import "font-awesome";

@import "bootstrap";

.alert {
  &:empty {
    display: none;
  }

  p {
    margin: 0;
  }
}

header {
  margin-bottom: 1em;
}

.loading {
  font-size: 5em;
  color: #007bff;
  margin: 1em;

  animation:spin 2s linear infinite;
}

p {
  margin: 0;
}

.pick-form label pre {
  margin: 0;
}

@keyframes spin { 100% { transform:rotate(360deg); } }

.timer {
  display: inline-block;
}

.form-group .help-block {
  color: red;
}

ul.results {
  margin: 0;
  padding: 0;

  li:last-child {
    border: none;
  }

  li {
    height: 14px;
    width: 14px;
    display: inline-block;
    background-color: lightgray;
    border-right: black 1px solid;
  }

  li.passed {
    background-color: green;
  }

  li.intent {
    background-color: yellow;
  }

  li.failed {
    background-color: red;
  }
}
