$fa-font-path: "../fonts";
@import "font-awesome";

@import "bootstrap";

.alert {
  &:empty {
    display: none;
  }

  p {
    margin: 0;
  }
}

header {
  margin-bottom: 1em;
}

.loading {
  font-size: 5em;
  color: #007bff;
  margin: 1em;

  animation:spin 2s linear infinite;
}


@keyframes spin { 100% { transform:rotate(360deg); } }
