<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Novel!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">novel.university</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= if logged_in?(@conn) do %>
          <div class="btn-group navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user(@conn).nickname %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link("Sign Out", to: session_path(@conn, :delete), method: "delete", class: "dropdown-item") %>
            </div>
          </div>
        <% else %>
          <div class="btn-group navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <a class="btn btn-primary" href="/auth/github">
              <i class="fa fa-github"></i>
              Sign in
            </a>
          </div>
        <% end %>
      </nav>
    </header>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
