<%= base_layout assigns do %>
  <h2><%= gettext "Course \"%{course}\"", course: @course.name %></h2>

  <%= render "_student_navigation.html", assigns %>

  <%= render @view_module, @view_template, assigns %>
<% end %>
