<li class="list-group-item">
  <div class="d-flex align-items-center justify-content-between">
    <%= link to: student_course_lab_path(@conn, :show, @course, @lab) do %>
      <span><%= @lab.title %></span>
    <% end %>

    <%= @lab |> Novel.Assignment.is_approved? |> approved_icon %>
  </div>
</li>
