<%= render "_navigation.html", assigns %>

<h2>
  <%= @answer.question.title %>
</h2>

<div><%= markdown @answer.question.details %></div>

<ul class="list-group mb-3">
  <%= for option <- @answer.question.options do %>
    <li class="list-group-item">
      <div class="form-group">
        <%= checkbox :answer, "options[#{option.id}]", class: "checkbox" %>
        <%= label :answer, "options[#{option.id}]", option.text, class: "control-label" %>
      </div>
    </li>
  <% end %>
</ul>
