<%= render "_navigation.html", assigns %>
<div>
  <%= render NovelWeb.SharedView, "_timer.html", finished_at: Novel.Exam.finished_at(@attempt) %>
  <i class="timer-hint">(<%= gettext "Results will be available when the time expires" %>)</i>
</div>

<h2>
  <%= @answer.question.title %>
</h2>

<div><%= markdown @answer.question.details %></div>

<ul class="list-group mb-3">
  <%= render_many(@answer.picks, NovelWeb.Student.PickView, "_form.html", assigns) %>
</ul>
