<tr>
  <td>
    <%= link to: teacher_course_group_path(@conn, :show, @course, @group) do %>
      <span><%= @group.name %></span>
    <% end %>
  </td>
  <td>
    <%= render "_actions.html", assigns %>
  </td>
</tr>
