<li class="list-group-item">
  <div class="d-flex align-items-center justify-content-between">
    <%= link to: teacher_course_group_path(@conn, :show, @course, @group) do %>
      <span><%= @group.name %></span>
    <% end %>
  </div>
</li>
