<%= render "_form.html", Map.put(assigns, :action, teacher_course_group_path(@conn, :update, @course, @group)) %>

<span><%= link "Back", to: teacher_course_group_path(@conn, :index, @course) %></span>
