<ul class="list-group mb-3">
  <%= render_many(@groups, NovelWeb.Teacher.GroupView, "_group.html", assigns) %>

  <%= render "_new_group_button.html", assigns %>
</ul>

<span><%= link "Back", to: course_path(@conn, :show, @course) %></span>
