<h2>
  <%= @group.name %>
</h2>

<div class="form-group d-flex align-items-center justify-content-between">
  <%= link "Edit", to: teacher_course_group_path(@conn, :edit, @course, @group), class: "btn btn-primary" %>

  <%= link "Delete", to: teacher_course_group_path(@conn, :delete, @course, @group), method: "delete", class: "btn btn-danger", data: [confirm: "Really?"] %>
</div>

<span><%= link "Back", to: teacher_course_group_path(@conn, :index, @course) %></span>
