<div class="btn-group">
  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= gettext "Actions" %>
  </button>
  <div class="dropdown-menu">
    <%= link gettext("Edit"), to: teacher_course_enrollment_path(@conn, :edit, @course, @enrollment), class: "dropdown-item" %>
  </div>
</div>
