<tr>
  <td>
    <%= link to: teacher_course_enrollment_path(@conn, :show, @course, @enrollment) do %>
      <span><%= full_name(@enrollment.user) %></span>
    <% end %>
  </td>
  <td>
    <%= @enrollment.user.nickname %>
  </td>
  <td>
    <%= @enrollment.group && @enrollment.group.name %>
  </td>
  <td>
    <%= format_assignment_results @enrollment.assignment_results %>
  </td>
  <td>
    <%= format_exam_results @enrollment.exam_results %>
  </td>
  <td>
    <%= render "_actions.html", assigns %>
  </td>
</tr>
