<table class="table table-striped">
  <thead>
    <tr>
      <th><%= gettext "Student" %></th>
      <th><%= gettext "Github" %></th>
      <th><%= gettext "Group" %></th>
      <th><%= gettext "Labs" %></th>
      <th><%= gettext "Quizzes" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render_many(@enrollments, NovelWeb.Teacher.EnrollmentView, "_enrollment.html", assigns) %>
  </tbody>
</table>

<hr />
<span><%= link gettext("Back"), to: teacher_course_path(@conn, :show, @course) %></span>

<%= link to: teacher_course_enrollment_path(@conn, :index, @course, _format: "csv"), class: "float-right" do %>
  <i class="fa fa-file-excel-o text-success"></i> <span>CSV</span>
<% end %>
