<ul class="list-group mb-3">
  <%= render_many(@enrollments, NovelWeb.Teacher.EnrollmentView, "_enrollment.html", assigns) %>
</ul>

<span><%= link gettext("Back"), to: course_path(@conn, :show, @course) %></span>
