<ul>
  <li>
    <strong>User:</strong>
    <%= full_name @enrollment.user %>
  </li>
  <li>
    <strong>Group:</strong>
    <%= @enrollment.group && @enrollment.group.name %>
  </li>
</ul>

<div class="d-flex align-items-center justify-content-between">
  <%= link gettext("Edit"), to: teacher_course_enrollment_path(@conn, :edit, @course, @enrollment), class: "btn btn-primary" %>
</div>

<hr />
<span><%= link gettext("Back"), to: teacher_course_enrollment_path(@conn, :index, @course) %></span>
