<div class="card border-primary mb-3">
  <div class="card-body">
    <h4 class="card-title"><%= link(@course.name, to: course_path(@conn, :show, @course), class: "card-body") %></h4>
    <p class="card-text"><%= course_description(@course) %></p>
  </div>
  <div class="card-header">
    <%= course_owner(@course) %>
  </div>
</div>
