<%= if @current_user.is_teacher do %>
  <%= link to: teacher_course_path(@conn, :show, @course), class: "btn btn-primary" do %>
    <i class="fa fa-cogs" aria-hidden="true"></i>
    Settings
  <% end %>
<% else %>
  <%= link to: student_course_enrollment_path(@conn, :new, @course), class: "btn btn-primary" do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
    Enroll
  <% end %>
<% end %>
