<%= link(to: teacher_course_path(@conn, :new), class: "card card-inverse card-primary p-3 text-center") do %>
  <p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
  <footer>
    <small>
      <%= gettext "New Course" %>
    </small>
  </footer>
<% end %>
