<h2>Edit Course</h2>

<%= render "_edit_course_nav.html", assigns %>

<%= render "_form.html", Map.put(assigns, :action, course_path(@conn, :update, @course)) %>

<span><%= link "Back", to: course_path(@conn, :show, @course) %></span>
