<div class="jumbotron">
  <h2>
    <%= gettext "Hello!" %>
  </h2>
</div>

<div class="card-columns">
  <%= render_many(@courses, NovelWeb.CourseView, "_course.html", assigns) %>

  <%= if @current_user && @current_user.is_teacher do %>
    <%= render "_new_course_button.html", assigns %>
  <% end %>
</div>

<hr />

<h3><%= gettext "Finished Courses" %></h3>

<div class="card-columns">
  <%= render_many(@finished_courses, NovelWeb.CourseView, "_course.html", assigns) %>
</div>
