<h2>
  <%= @course.name %>

  <%= render "_actions.html", assigns %>
</h2>

<div><%= markdown @course.description %></div>

<hr />
<span><%= link gettext("Back"), to: course_path(@conn, :index) %></span>
