<h2>
  <%= @course.name %>

  <%= if @current_user |> can?(:update, @course) do %>
    <span>
      <%= link to: course_path(@conn, :edit, @course) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <% end %>
    </span>
  <% end %>
</h2>

<p><%= @course.description %></p>

<span><%= link "Back", to: course_path(@conn, :index) %></span>
