<h2><%= gettext "Edit Profile" %></h2>

<%= render "_form.html", Map.put(assigns, :action, profile_path(@conn, :update)) %>

<hr />
<span><%= link gettext("Back"), to: profile_path(@conn, :show) %></span>
