<div class="btn-group">
  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= gettext "Actions" %>
  </button>
  <div class="dropdown-menu">
    <%= link gettext("Delete"), to: student_course_lab_submission_path(@conn, :delete, @course, @lab, @submission), method: "delete", class: "dropdown-item text-danger", data: [confirm: gettext("Really?")] %>
  </div>
</div>
