<li class="list-group-item <%= approved_class(@submission.is_approved) %>">
  <div class="d-flex align-items-center justify-content-between">
    <span><%= repository_link @submission.repository %></span>
    <span><%= @submission.inserted_at %></span>
  </div>
</li>
